.verbarium__singlePage #content-layout {
  width: 100% !important;
  padding: 0px 0px !important;
  box-sizing: border-box;
}

.verbarium__singlePage #content-layout .wp-block-filedset {
  padding: 0px !important;
}
